{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-padded">
        Update profile. Current name is {{ user_provider.player.name }}<br/><br/><br/>
    {{ form_start(form, {method: 'POST', action: path('profile.update')}) }}
    {{ form_row(form._token) }}
    {{ form_row(form.playername) }}
    <input type="submit" value="Update">
    {{ form_end(form) }}
    </div>
{% endblock %}