{% extends 'base_old.html.twig' %}
{% import _self as self %}

{% block title %}{{ parent() }}{{ player.id == current_player_id ? ' - Your turn' }}{% endblock %}

{% block stylesheets %}
<style>
    body {
        margin: 0;
    }

    .draggable:hover {
        cursor: grab;
    }

    .draggable:active {
        cursor: grabbing;
    }


    a#deal, a#restart {
        padding: 10px;
        font-size: 14px;
        background: #227722;
        border-radius: 5px;
    }

    a#deal:hover {
        padding: 10px;
        font-size: 14px;
        background: #226622;
        border-radius: 5px;
    }

    .card {
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-content:center;
        flex-direction:column;
        vertical-align: middle;
        text-align: center;
        /*background: #fbfbfb;*/
        line-height: 22px;
        margin-top: 6px;
        border: 1px solid #ddd;
        border-radius: 5px;
        /*background-size: contain;*/
        margin-right: 5px;
        margin-bottom: 11px;
        transition: margin-bottom .09s, margin-right .09s, width .09s, height .09s;
        background-image: url("{{ asset('duizenden/deck1.gif') }}");
    }

    .card.selected {
        outline: 4px solid deepskyblue;
        outline-offset: -4px;
    }

    .card.hand {
        background-size: 1807px; /* .278 */
        overflow: hidden;
        width: 139px; /* height * 0,63 */
        height: 220px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #fff;
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.09);
    }

    .card.table {
        width: 113px; /* height * 0,63 */
        height: 180px;
        background-size: 1469px; /* .226 */
    }

    .card.opponent {
        width: 76px; /* height * 0,63 */
        height: 120px;
        background-size: 988px; /* 13 * 76px */
    }

    .card.hand.s2 { background-position: 0 0; }
    .card.hand.s3 { background-position: -139px 0; }
    .card.hand.s4 { background-position: -278px 0; }
    .card.hand.s5 { background-position: -417px 0; }
    .card.hand.s6 { background-position: -556px 0; }
    .card.hand.s7 { background-position: -695px 0; }
    .card.hand.s8 { background-position: -834px 0; }
    .card.hand.s9 { background-position: -973px 0; }
    .card.hand.s10 { background-position: -1112px 0; }
    .card.hand.sj { background-position: -1251px 0; }
    .card.hand.sq { background-position: -1390px 0; }
    .card.hand.sk { background-position: -1529px 0; }
    .card.hand.sa, .card.hand.s1 { background-position: -1668px 0; }
    .card.hand.h2 { background-position: 0 -220px; }
    .card.hand.h3 { background-position: -139px -220px; }
    .card.hand.h4 { background-position: -278px -220px; }
    .card.hand.h5 { background-position: -417px -220px; }
    .card.hand.h6 { background-position: -556px -220px; }
    .card.hand.h7 { background-position: -695px -220px; }
    .card.hand.h8 { background-position: -834px -220px; }
    .card.hand.h9 { background-position: -973px -220px; }
    .card.hand.h10 { background-position: -1112px -220px; }
    .card.hand.hj { background-position: -1251px -220px; }
    .card.hand.hq { background-position: -1390px -220px; }
    .card.hand.hk { background-position: -1529px -220px; }
    .card.hand.ha, .card.hand.h1 { background-position: -1668px -220px; }
    .card.hand.d2 { background-position: 0 -440px; }
    .card.hand.d3 { background-position: -139px -440px; }
    .card.hand.d4 { background-position: -278px -440px; }
    .card.hand.d5 { background-position: -417px -440px; }
    .card.hand.d6 { background-position: -556px -440px; }
    .card.hand.d7 { background-position: -695px -440px; }
    .card.hand.d8 { background-position: -834px -440px; }
    .card.hand.d9 { background-position: -973px -440px; }
    .card.hand.d10 { background-position: -1112px -440px; }
    .card.hand.dj { background-position: -1251px -440px; }
    .card.hand.dq { background-position: -1390px -440px; }
    .card.hand.dk { background-position: -1529px -440px; }
    .card.hand.da, .card.hand.d1 { background-position: -1668px -440px; }
    .card.hand.c2 { background-position: 0 -660px; }
    .card.hand.c3 { background-position: -139px -660px; }
    .card.hand.c4 { background-position: -278px -660px; }
    .card.hand.c5 { background-position: -417px -660px; }
    .card.hand.c6 { background-position: -556px -660px; }
    .card.hand.c7 { background-position: -695px -660px; }
    .card.hand.c8 { background-position: -834px -660px; }
    .card.hand.c9 { background-position: -973px -660px; }
    .card.hand.c10 { background-position: -1112px -660px; }
    .card.hand.cj { background-position: -1251px -660px; }
    .card.hand.cq { background-position: -1390px -660px; }
    .card.hand.ck { background-position: -1529px -660px; }
    .card.hand.ca, .card.hand.c1 { background-position: -1668px -660px; }
    .card.hand.y0 { background-position: 0 -880px; }
    .card.hand.x0 { background-position: -139px -880px; }
    .card.table.blue { background-position: -278px -880px; }
    .card.table.red { background-position: -417px -880px; }

    .card.opponent.s2 { background-position: 0 0; }
    .card.opponent.s3 { background-position: -76px 0; }
    .card.opponent.s4 { background-position: -152px 0; }
    .card.opponent.s5 { background-position: -228px 0; }
    .card.opponent.s6 { background-position: -304px 0; }
    .card.opponent.s7 { background-position: -380px 0; }
    .card.opponent.s8 { background-position: -456px 0; }
    .card.opponent.s9 { background-position: -532px 0; }
    .card.opponent.s10 { background-position: -608px 0; }
    .card.opponent.sj { background-position: -684px 0; }
    .card.opponent.sq { background-position: -760px 0; }
    .card.opponent.sk { background-position: -836px 0; }
    .card.opponent.sa, .card.opponent.s1 { background-position: -912px 0; }
    .card.opponent.h2 { background-position: 0 -120px; }
    .card.opponent.h3 { background-position: -76px -120px; }
    .card.opponent.h4 { background-position: -152px -120px; }
    .card.opponent.h5 { background-position: -228px -120px; }
    .card.opponent.h6 { background-position: -304px -120px; }
    .card.opponent.h7 { background-position: -380px -120px; }
    .card.opponent.h8 { background-position: -456px -120px; }
    .card.opponent.h9 { background-position: -532px -120px; }
    .card.opponent.h10 { background-position: -608px -120px; }
    .card.opponent.hj { background-position: -684px -120px; }
    .card.opponent.hq { background-position: -760px -120px; }
    .card.opponent.hk { background-position: -836px -120px; }
    .card.opponent.ha, .card.opponent.h1 { background-position: -912px -120px; }
    .card.opponent.d2 { background-position: 0 -240px; }
    .card.opponent.d3 { background-position: -76px -240px; }
    .card.opponent.d4 { background-position: -152px -240px; }
    .card.opponent.d5 { background-position: -228px -240px; }
    .card.opponent.d6 { background-position: -304px -240px; }
    .card.opponent.d7 { background-position: -380px -240px; }
    .card.opponent.d8 { background-position: -456px -240px; }
    .card.opponent.d9 { background-position: -532px -240px; }
    .card.opponent.d10 { background-position: -608px -240px; }
    .card.opponent.dj { background-position: -684px -240px; }
    .card.opponent.dq { background-position: -760px -240px; }
    .card.opponent.dk { background-position: -836px -240px; }
    .card.opponent.da, .card.opponent.d1 { background-position: -912px -240px; }
    .card.opponent.c2 { background-position: 0 -360px; }
    .card.opponent.c3 { background-position: -76px -360px; }
    .card.opponent.c4 { background-position: -152px -360px; }
    .card.opponent.c5 { background-position: -228px -360px; }
    .card.opponent.c6 { background-position: -304px -360px; }
    .card.opponent.c7 { background-position: -380px -360px; }
    .card.opponent.c8 { background-position: -456px -360px; }
    .card.opponent.c9 { background-position: -532px -360px; }
    .card.opponent.c10 { background-position: -608px -360px; }
    .card.opponent.cj { background-position: -684px -360px; }
    .card.opponent.cq { background-position: -760px -360px; }
    .card.opponent.ck { background-position: -836px -360px; }
    .card.opponent.ca, .card.opponent.c1 { background-position: -912px -360px; }
    .card.opponent.y0 { background-position: 0 -360px; }
    .card.opponent.x0 { background-position: -76px -480px; }
    .card.opponent.blue { background-position: -152px -480px; }
    .card.opponent.red { background-position: -228px -480px; }

    .card.table.s2 { background-position: 0 0; }
    .card.table.s3 { background-position: -113px 0; }
    .card.table.s4 { background-position: -226px 0; }
    .card.table.s5 { background-position: -339px 0; }
    .card.table.s6 { background-position: -452px 0; }
    .card.table.s7 { background-position: -565px 0; }
    .card.table.s8 { background-position: -678px 0; }
    .card.table.s9 { background-position: -791px 0; }
    .card.table.s10 { background-position: -904px 0; }
    .card.table.sj { background-position: -1017px 0; }
    .card.table.sq { background-position: -1130px 0; }
    .card.table.sk { background-position: -1243px 0; }
    .card.table.sa, .card.table.s1 { background-position: -1356px 0; }
    .card.table.h2 { background-position: 0 -179px; }
    .card.table.h3 { background-position: -113px -179px; }
    .card.table.h4 { background-position: -226px -179px; }
    .card.table.h5 { background-position: -339px -179px; }
    .card.table.h6 { background-position: -452px -179px; }
    .card.table.h7 { background-position: -565px -179px; }
    .card.table.h8 { background-position: -678px -179px; }
    .card.table.h9 { background-position: -791px -179px; }
    .card.table.h10 { background-position: -904px -179px; }
    .card.table.hj { background-position: -1017px -179px; }
    .card.table.hq { background-position: -1130px -179px; }
    .card.table.hk { background-position: -1243px -179px; }
    .card.table.ha, .card.table.h1 { background-position: -1356px -179px; }
    .card.table.d2 { background-position: 0 -358px; }
    .card.table.d3 { background-position: -113px -358px; }
    .card.table.d4 { background-position: -226px -358px; }
    .card.table.d5 { background-position: -339px -358px; }
    .card.table.d6 { background-position: -452px -358px; }
    .card.table.d7 { background-position: -565px -358px; }
    .card.table.d8 { background-position: -678px -358px; }
    .card.table.d9 { background-position: -791px -358px; }
    .card.table.d10 { background-position: -904px -358px; }
    .card.table.dj { background-position: -1017px -358px; }
    .card.table.dq { background-position: -1130px -358px; }
    .card.table.dk { background-position: -1243px -358px; }
    .card.table.da, .card.table.d1 { background-position: -1356px -358px; }
    .card.table.c2 { background-position: 0 -537px; }
    .card.table.c3 { background-position: -113px -537px; }
    .card.table.c4 { background-position: -226px -537px; }
    .card.table.c5 { background-position: -339px -537px; }
    .card.table.c6 { background-position: -452px -537px; }
    .card.table.c7 { background-position: -565px -537px; }
    .card.table.c8 { background-position: -678px -537px; }
    .card.table.c9 { background-position: -791px -537px; }
    .card.table.c10 { background-position: -904px -537px; }
    .card.table.cj { background-position: -1017px -537px; }
    .card.table.cq { background-position: -1130px -537px; }
    .card.table.ck { background-position: -1243px -537px; }
    .card.table.ca, .card.table.c1 { background-position: -1356px -537px; }
    .card.table.y0 { background-position: 0 -716px; }
    .card.table.x0 { background-position: -113px -716px; }
    .card.table.blue { background-position: -226px -716px; }
    .card.table.red { background-position: -339px -716px; }





    .meld_container {
        display: inline-block;
        position: relative;
        margin: 10px 15px 10px 10px;
    }

    .meld_container.highlight_meld {
        position: relative;
        background: #801f0E;
        border: 10px solid #801f0E;
        border-radius: 2px;
        margin: 0 5px 0 0;
    }

    div.pad {
        padding: 6px;
    }

    .player_name {
        margin-left: .5em;
    }
    .player_name.active {
        color: #ffcc00;
        font-weight: bold;
    }

    .opponent_melds {
        margin-top: 130px;
        text-align: center;
    }

    #melds {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
</style>
{% endblock %}

{% set discarded_pool_is_first_card = game.state.discardedPool.firstCard %}
{% set player = game.state.players.playerById(app.user.uuid) %}
{% set current_player_id = game.state.players.currentPlayer.id %}
{% set can_draw_from_discarded = player.id == current_player_id and workflow_can(game, 'draw_from_discarded') and ((not player.hasMelds and discarded_pool_is_first_card) or game.scoreCalculator.calculatePlayerMeldsScore(player) >= 30) %}

{% block body %}
    {% set current_player = game.state.players.currentPlayer %}

    <a style="float: right" href="#" onclick="undoLastAction(); return false;">&#x293A; Undo </a>

{% for player in game.state.players %}
    <span data-player-id="{{ player.id }}" class="player_name{{ player.id == current_player_id ? ' active' }}">{{ player.name }} ({{ player.melds|length }})</span>
{% endfor %}

<div id="opponent_panes"></div>
<div id="melds"></div>
<div>
    <div style="float: left; height: 260px; width: 312px; border: 3px #034823 solid; border-right: none;">
        <div  style="float: left; width: 150px; height: 250px;">
            <div id="undrawn_pool" class="pad">
                Undrawn
                {% if game.state.undrawnPool|last %}
                    {{ self.drawCardTable(game.state.undrawnPool|last, workflow_can(game, 'draw_from_undrawn'), true, 'card_undrawn_pool') }}
                {% endif %}
            </div>
        </div>

        <div id="discarded_pool" class="highlight pad" style="height: 250px; width: 150px; float: left;">
            Discarded
            {% if game.state.discardedPool|last%}
                {{ self.drawCardTable(game.state.discardedPool|last, can_draw_from_discarded, false, 'card_discarded_pool') }}
            {% endif %}
        </div>

        <div style="border-top: 3px #034823 solid; clear: left;" class="pad">
            <div style="margin-bottom: 10px">
                <b>Allowed actions</b><br/>
                <div id="allowed_actions">
            {% for transition in workflow_transitions(game) %}
                {{ transition.name }}<br/>
            {% else %}
                No actions available<br/>
            {% endfor %}
                </div>
            </div>

            <div style="margin-bottom: 10px">
                <br/><input id="meld_button" style="display: none" type="button" value="Meld cards" onclick="meld()" />
            </div>

            <div style="margin-bottom: 10px">
                <b>Scoreboard</b><br/>
                <table style="width: 160px;">
                    <thead>
                        <tr>
                            <td></td>
                            {% for player in game.state.players.freshLoopIterator %}
                                <td>{{ player.name }}</td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="scoreboard"></tbody>
                </table>
            </div>

            <div style="margin-bottom: 10px">

            </div>
        </div>
    </div>

    <div style="position: fixed; top: 0; right: 0; width: 300px; padding-bottom: 20px;">
        <div id="log" style="display:none;font-family: 'Lucida Console'; font-size: 13px; width: inherit; height: 400px; background-color: rgba(255,0,0,.25); overflow-y: scroll; overflow-x: hidden; border-bottom-left-radius: 10px; padding: 0 0 3px 5px;"></div>
        <div id="log_slider" onclick="logSlide()" style="position: absolute; width: inherit; height: 20px; bottom: 0; left: 0; background-color: rgba(255,0,0,.7); text-align: center; font-weight: bold; font-size: 14px; cursor: pointer; border-bottom-left-radius: 10px;">hide</div>
    </div>
</div>

<div id="hand_container" style="display: none; position: fixed; bottom: 0; left: 50%; margin: 0 auto;"></div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('duizenden/js/Game/Game.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/GameEvent.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/GameEventMessageHandler.js') }}"></script>
    <script src="{{ asset('duizenden/js/Helper/MathHelper.js') }}"></script>
    <script src="{{ asset('duizenden/js/Helper/ZFighter.js') }}"></script>
    <script src="{{ asset('duizenden/js/Helper/CardHelper.js') }}"></script>
    <script src="{{ asset('duizenden/js/Card/CardDragger.js') }}"></script>
    <script src="{{ asset('duizenden/js/Hand/DroppableHand.js') }}"></script>
    <script src="{{ asset('duizenden/js/Hand/Hand.js') }}"></script>
    <script src="{{ asset('duizenden/js/Hand/OpponentHand.js') }}"></script>
    <script src="{{ asset('duizenden/js/Hand/HandCardDragger.js') }}"></script>
    <script src="{{ asset('duizenden/js/Hand/HandContainer.js') }}"></script>
    <script src="{{ asset('duizenden/js/Hand/HandHoverAnimator.js') }}"></script>
    <script src="{{ asset('duizenden/js/CardPositioning/Fan.js') }}"></script>
    <script src="{{ asset('duizenden/js/Meld/MeldContainer.js') }}"></script>
    <script src="{{ asset('duizenden/js/Meld/DroppableMeld.js') }}"></script>
    <script src="{{ asset('duizenden/js/Meld/Meld.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/Action/DiffCalculator.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/Action/UndrawnCard.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/Action/DiscardedCard.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/State.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/Action/UpdateCurrentPlayer.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/Action/DealButton.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/Action/MeldButton.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/Action/AllowedActions.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/Action/Melds.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/Action/Score.js') }}"></script>
    <script src="{{ asset('duizenden/js/Game/Action/RestartButton.js') }}"></script>
<script>
let game;
$(document).ready(() => {
    const card_separation_melds = .19;
    //let elem = document.querySelector('.card.hand');
    //let elem_style = document.querySelector('.card.table');
    const extend_meld_url = '{{ path('duizenden.extend_meld', { meld_id: '000', card: '111' }) }}';
    const connection = new Connection('{{ mercure_publish_url }}?topic=' + encodeURIComponent('urn:game_event:{{ game_subscriber_event_id(game) }}'));
    const message_handler = new GameEventMessageHandler('{{ game.id }}', '{{ app.user.uuid }}', extend_meld_url, card_separation_melds);
    const event_handler = new GameEvent(connection, message_handler);
    window.player_event_message_handler.setGameEventHandler(message_handler);
    event_handler.initialize();

    //if (elem) {
    // let style = window.getComputedStyle(elem);
    //let style_meld = window.getComputedStyle(elem_style);

    {% set cards_hand = [] %}
    {% for card in player.hand %}
    {% set cards_hand = cards_hand|merge([card.identifier|lower]) %}
    {% endfor %}

    {% set cards_players = [] %}
    {% for p in game.state.players.freshLoopIterator|filter(p => p.id != current_player_id) %}
    {% set cards_players = cards_players|merge([{'player_id': p.id, 'hand': game.state.players.playerById(p.id).hand.cards|length}]) %}
    {% endfor %}

    {% set melds = [] %}
    {% for p in state_data.players|filter(p => p.id == player.id) %}
    {% set melds = p.melds %}
    {% endfor %}

    let state;
    state = {{ state_data|json_encode|raw }};

    $(document).ready(() => {
        game = Game.create(
            '{{ player.id }}',
            connection,
            event_handler,
            '#hand_container',
            {{ cards_hand|json_encode()|raw }},
            {{ state_data.players|filter(p => p.id != player.id)|resetKeys|json_encode|raw }},
            {{ melds|json_encode()|raw }},
            '.card',
            '{{ path('duizenden.draw_from_discarded', {meld_cards: '000'}) }}',
            '{{ path('duizenden.draw_from_undrawn') }}',
            139,// parseInt(style.width),
            220,// parseInt(style.height),
            113,// parseInt(style_meld.width),
            180,// parseInt(style_meld.height),
            .28,
            card_separation_melds,
            extend_meld_url,
        );

        game.initialize();
        UndrawnCard.resetCard();
        {% if not (current_player_id == player.id and workflow_can(game, 'draw_from_undrawn')) %}
        UndrawnCard.disableDraggable();
        {% endif %}
        {% set top_card = game.state.discardedPool|last %}
        {% if top_card %}
        DiscardedCard.resetCard({{ ("'" ~ top_card.identifier ~ "'")|raw }}, {{ current_player_id == player.id and can_draw_from_discarded ? 'true' : 'false' }});
        {% endif %}
        {% if current_player_id == player.id and workflow_can(game, 'meld') %}
        MeldButton.show();
        {% endif %}
        {% if is_granted('deal', game) %}
        DealButton.show();
        {% endif %}
        Score.update(state.players, state.score.past_rounds);
        {% if workflow_can(game, 'restart_game') %}
        RestartButton.show();
        {% endif %}
    });
});

$("#deal").click(function () {
    let url = '{{ path('duizenden.deal') }}';
    $.post(url, null, function (data) {
       // location.reload();
    });
});

{% if drawn_card is defined %}
let drawn_card = $(".card.hand[data-card-id='" + {{ drawn_card.suit.name ~ drawn_card.rank.name }}  + "']");
drawn_card.css('outline', '4px solid orange');
drawn_card.css('outline-offset', '-4px');
{% endif %}

// $( function() {
//   $(".draggable").draggable();
// });

function meld() {
    let cards = [];

    $('#hand_container').find('.card.hand.selected').each(function (item) {
        cards.push($(this).data('card-id'));
    });

    $.post('{{ path('duizenden.meld', {cards: '000'}) }}'.replace('000', cards.join()), null, function (data) {
        //location.reload();
    });
}

var dragCheck = false;

// $('.card.hand').mouseup(function (){
//     if(dragCheck === false) {
//         $(this).toggleClass('selected');
//     }
// });

// $('.card.hand').mouseup(function (){
//     if(dragCheck === false) {
//         $(this).toggleClass('selected');
//     }
// });

let z = 1;
let drag_source = 'none';

$("#discarded_pool .draggable").draggable({});


$("#discarded_pool").droppable({
  drop: function(event, ui) {
      if (drag_source === 'hand_container') {
          let url = '{{ path('duizenden.discard', { card: '000' }) }}'.replace('000', ui.draggable.data('card-id'));

          let card_id = ui.draggable.data('card-id');
          game.getHand().removeCard(card_id);
          DiscardedCard.resetCard(card_id, false);
          $.post(url);
      }
  }
});

function undoLastAction() {
    var url = '{{ path('duizenden.undo_last_action', { uuid: game.id}) }}';
    $.get(url);
}

function logSlide() {
    const log = $('#log');
    const log_slider = $('#log_slider');
    log_slider.html(log.is(':visible') ? 'show': 'hide');
    log.slideToggle();
}
</script>
{% endblock %}

{% macro drawCardHand(card, index) %}
    <div data-card-order="{{ index }}" data-card-id="{{ card.identifier|lower }}" class="card hand {{ card.identifierValue|lower }} draggable"></div>
{% endmacro %}

{% macro drawCardTable(card, draggable = false, turned = false, id = false) %}
    <div {{ id ? 'id=' ~ id ~ ' ' }}data-card-id="{{ card.identifier|lower }}" class="card table {{  not turned ? card.identifierValue|lower : card.backColor.name }}{{ draggable ? ' draggable' }}"></div>
{% endmacro %}