{% extends 'base.html.twig' %}

{% block content %}
    {{ form_errors(form) }}
    {{ form_start(form, {'method': 'POST', 'action': path('duizenden.create', invitation ? {invitation: invitation.uuid} : {})}) }}
    <table>
    {{ form_row(form._token) }}
{% if form.players is defined %}
    {{ form_row(form.players) }}
{% endif %}
    {{ form_row(form.is_dealer_random) }}
    {{ form_row(form.first_dealer) }}
    {{ form_row(form.initial_shuffle) }}
    {{ form_row(form.initial_shuffle_algorithm) }}
    {{ form_row(form.target_score) }}
    {{ form_row(form.first_meld_minimum_points) }}
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
    {{ form_end(form) }}
{% endblock %}