{% extends 'base_flex.html.twig' %}

{% form_theme form _self %}

{% block content %}
    <div style="margin-bottom: 6px;">Hi {{ name }}, welcome in the lobby.</div>
    <div id="users" style="margin-bottom: 10px;">

    </div>
    <style type="text/css">
        .chat_window {
            height: calc(100vh - 160px);
            width: 100vw;
            margin: 0 auto;
            font-size: calc(1em + .4vw);
        }
        .chat_window .margin {
            height: inherit;
            overflow-y: auto;
            background-color: rgba(213, 211, 207, 1);
        }
        .chat_window .line {
            clear: both;
            padding: .5em 1em;
        }
        .chat_window .line:last-child {
            margin-bottom: 3.5em;
        }
        .chat_window .message {
            max-width: 80%;
            color: #D5D3CF;
            padding: .2em .6em;
            border-radius: .06em;
            font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
        }
        .chat_window .line.in .message{
            float: left;
            background-color: #524640;
            border-top-left-radius: 0;
        }
        .chat_window .line.out .message{
            float: right;
            background-color: #009771;
            border-top-right-radius: 0;
        }
        .chat_window .line .bubble{
            width: 1em;
            height: 1em;
        }
        .chat_window .line.in .bubble{
            float: left;
            width: 0;
            border-top: 1em solid #524640;
            border-left: 1em solid transparent;
            border-top-left-radius: .06em;
        }
        .chat_window .line.out .bubble{
            float: right;
            width: 0;
            border-top: 1em solid #009771;
            border-right: 1em solid transparent;
            border-top-right-radius: .06em;
        }
        .chat_window .type {
            background-color: #B2A7A1;
            color: #413E3F;
            padding: .4em 1em;
            cursor: text;
            float: left;
            width: calc(80% - 2em);
            outline: none;
        }
        .chat_window .type:empty:before {
            content: attr(aria-placeholder);
        }
        .chat_window .send {
            float: left;
            width: 20%;
            background-color: #524640;
            color: #D5D3CF;
            font-weight: bold;
            padding: .4em 0;
            text-align: center;
            cursor: pointer;
        }
        .chat_window .line .message .time {
            float: right;
            font-size: .6em;
            clear: both;
        }
        .chat_window .line .message .name {
            font-weight: bold;
            font-size: .8em;
            color: #ECEDF0;
        }
        #players {
            width: calc(30vw);
            float: left;
            background-color: #B2A7A1;
            height: calc(100%);
            position: relative;
            font-size: .9em;
            overflow-y: auto;
            border-bottom: #D5D3CF .14em solid;
            box-sizing: border-box;
            white-space: nowrap;
        }
        #players .player{
            margin-bottom: .3em;
            padding: .2em 0 0 .3em;
        }
        #players label{
            margin-left: .3em;
            color: #413E3F;
        }
        #invite {
            margin-top: 1em;
            background-color: #524640;
            color: #D5D3CF;
            font-weight: bold;
            padding: .4em 0;
            text-align: center;
            width: 100%;
            cursor: pointer;
        }
        #players form, #players input {
            padding: 0;
            margin: 0;
        }
        @media only screen and (min-width: 1024px) {
            .chat_window {
                width: 60vw;
            }
            #players {
                width: calc(15vw);
            }
        }
    </style>
<div id="wrap">
    <div class="chat_window">
        <div id="players">
            {{ form_errors(form) }}
            {{ form_start(form, {method: 'POST', action: path('lobby.invite'), attr: { id: 'lobby_select_players' }}) }}
            {{ form_row(form._token) }}
            {{ form_widget(form.players) }}
            {{ form_end(form) }}
            <div id="invite">
                Invite
            </div>
        </div>
        <div class="margin">
{% for message in messages %}
    <div class="line {{ message.id == player_id ? 'out' : 'in' }}">
        <div class="bubble"></div>
        <div class="message">
            <div class="name">{{ message.name }}</div>
            <div>{{ message.message|nl2br }}</div>
            <div class="time">{{ message.date|date('H:i') }}</div>
        </div>
    </div>
{% endfor %}
        </div>
        <div class="new_message">
            <div class="type" aria-placeholder="Type a message" data-tab="1" dir="ltr" spellcheck="true" contenteditable="true"></div>
            <div class="send" onclick="sendMessage()">Send</div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('duizenden/js/Lobby/MessageHandler.js') }}"></script>
    <script src="{{ asset('duizenden/js/Lobby/Lobby.js') }}"></script>

    <script>
        let lobby;

    $(document).ready(() => {
        const lobby_connection = new Connection('{{ mercure_publish_url }}?topic=' + encodeURIComponent('urn:lobby:{{ lobby_id }}'));
        const lobby_message_handler = new MessageHandler($('.margin'), '{{ player_id }}');
        lobby = new Lobby(lobby_connection, '{{ path('lobby.say', {message: '000'}) }}', lobby_message_handler);
        lobby.connect();

        $('.type').on('keypress', function (e) {
            if (e.which === 13 && !e.shiftKey) {
                sendMessage();
                return false;
            }
        });

        $('#invite').on('click', function (e) {
            const form = $('form[name="lobby_select_players"]');
            if (form.find('input:checked').length > 0) {
                form.submit();
            }
        });
    });

    function sendMessage() {
        const message_input = $('.type');
        let message = message_input.html().replace(/<br\s?\/?>/gi, "\n");
        message = jQuery('<div />').html(message).text().trim();

        if (message !== '') {
            lobby.send(message);
            message_input.text('');
        }
    }
    </script>
{% endblock %}


{%- block choice_widget_expanded -%}
    {%- for child in form -%}
        <div class="player">
            {{- form_widget(child) -}}
            {{- form_label(child, child.vars.is_current_player ? child.vars.label ~ ' (You)' : null, {translation_domain: choice_translation_domain}) -}}
        </div>
    {%- endfor -%}
{%- endblock choice_widget_expanded -%}