<nav id="menu-toggle" role="navigation">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
        <li id="name">Hi, {{ app.user.name }}!</li>
        <a href="{{ path('duizenden.new') }}"><li>Start new game</li></a>
        <a href="{{ path('game.saved') }}"><li>Load previous game</li></a>
        <a href="{{ path('lobby.show') }}"><li>Meeting lobby</li></a>
        <a href="{{ path('lobby.invitations') }}"><li>Invitations</li></a>
    {% if app.user %}
        <a title="{{ app.user.uuid }}" href="{{ path('logout') }}"><li>Terminate</li></a>
    {% endif %}
    </ul>
</nav>