{% extends 'base.html.twig' %}

{% block content %}
    <div class="content-padded">
    {{ form_errors(form) }}
    {{ form_start(form, { action: path('user.create_account'), method: 'post' }) }}
    {{ form_row(form._token) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}
    <input type="submit" value="Create">
    {{ form_end(form) }}
    </div>
{% endblock %}